/*
Error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 11 of sample.scss

6:   font-size: 62.5%;
7:   font-family: sans-serif;
8:   display: block;
9: }
10: 
11: }
12: html[Attributes Style]{
13:   -webkit-locale: "ja";
14: }
15: 
16: 

Backtrace:
sample.scss:11
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/usr/local/rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 11 of sample.scss\A \A 6:   font-size: 62.5%;\A 7:   font-family: sans-serif;\A 8:   display: block;\A 9: }\A 10: \A 11: }\A 12: html[Attributes Style]{\A 13:   -webkit-locale: \"ja\";\A 14: }\A 15: \A 16: "; }
